/* Estilos básicos */
.app {
  background-color: #f9fafc;
  min-height: 100vh;
}


.radio-label input[type="radio"] {
  margin-right: 5px;
}

.titulo {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: -30px;
}


input[type="radio"] {
  transform: scale(1.5); /* Aumenta o tamanho em 1.5 vezes */
}
