.date{
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 40px;
  gap: 10px;
  align-items: center;
}

.date input{
  font-size: 16px;
  font-weight: bold;
  width: 50%;
  text-align: left;
  border: 2px solid #c0c0c0;
  border-top: 0;
  border-left: 0;
  border-right: 0;
}

.date label{
  font-size: 16px;
}