.radio-group {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.radio-row {
  display: flex;
  align-items: center;
}

.label {
  flex-basis: 200px;
}

.radio-options {
  display: flex;
  gap: 10px;
}

.radio-label {
  display: flex;
  align-items: center;
}

.radio-label input[type="radio"] {
  margin-right: 5px;
}
