.form-control.score-container{
  flex-direction: row;
  gap: 2rem;
  justify-content: center;
}

.score-container svg{
  font-size: 1.6rem;
  cursor: pointer;
  transform: 0.3s;
}

.score-container svg:hover{
  fill: #7076f4;
}